/** BASE STYLES **/
body {
  font-family: 'Raleway', sans-serif;
  background-color: #fff;
  color: #333;
  font-size: 20px;
}
body,
html {
  height: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #555;
  font-weight: normal;
  margin: 0;
}
/** BASE MEDIA QUERIES **/
@media handheld, only screen and (max-width: 767px) {
  body {
    font-size: 18px;
  }
}
/** LAYOUT HEADER **/
header {
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  margin: 0 0 1em 0;
}
.header-wrapper {
  position: relative;
}
section {
  margin: 0.5em 0 1.5em 0;
}
article {
  color: #666;
  margin: 0.5em 0 3em 0;
  padding-bottom: 0.5em;
  border-bottom: 1px dashed #ddd;
}
article:last-child {
  border-bottom: none;
}
article img {
  max-width: 100%;
  margin: auto;
  display: block;
}
header h1 {
  font-size: 2.4em;
  color: #666;
  margin: 0;
  display: block;
}
header p {
  margin: 0.2em 0;
  font-size: 1em;
  font-style: italic;
  color: #aaa;
  display: block;
  padding-bottom: 0.25em;
  border-bottom: 2px dashed #555;
}
/** LAYOUT FOOTER **/
footer {
  text-align: center;
  border-top: 1px solid #ccc;
  background-color: #eee;
  font-size: 0.7em;
  height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
}
/** BASE STYLES **/
h1 {
  font-size: 2em;
}
h2 {
  font-size: 1.6em;
}
h3 {
  font-size: 1.2em;
  color: #888;
}
h1 a {
  text-decoration: none;
  color: #555;
}
article h2 {
  text-transform: uppercase;
  font-size: 1em;
  padding-bottom: 0.25em;
  border-bottom: 1px solid #666;
}
p {
  margin: 1.25em 0;
}
p,
li {
  line-height: 1.4em;
}
hr {
  height: 0;
  border: 0;
  margin: 1em 0;
  border-bottom: 1px dashed #aaa;
}
/** CUSTOM **/
.post-tags {
  font-size: 0.9em;
  text-transform: uppercase;
}
.post-meta {
  color: #777;
}
.bottom-nav {
  margin-bottom: 1.5em;
}
.post-comments {
  margin: 0.5em 0 3em 0;
}
.post-comment {
  padding: 1em;
  background: #eee;
  margin: 1em 0;
}
.post-comment pre {
  background: #ddd !important;
}
.post-comment h3 {
  font-size: 1.1em;
  color: #555;
}
.post-comment p {
  margin: 0.6em 0;
  font-size: 1em;
}
.post-comment .dark {
  color: #888;
}
.post-comment small {
  margin: 0.1em;
  font-size: 0.7em;
  line-height: 2em;
  color: #666;
}
/** INPUTS **/
input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  margin: 1em 0 0.2em 0;
  background-color: #eee;
  border: 1px solid #ddd;
  font-size: 0.8em;
  outline: none;
  color: #444;
  padding: 0.5em;
  overflow: hidden;
}
input[type="text"]:active,
textarea:active,
input[type="password"]:active,
input[type="text"]:focus,
textarea:focus,
input[type="password"]:focus {
  border: 1px solid #aaa;
  outline: none;
}
input[type="text"].error,
textarea.error {
  border: 1px solid #df3030;
}
button {
  background-color: #58a346;
  color: #fff;
  text-shadow: 0 0 4px rgba(0,0,0,0.2);
  font-size: 1em;
  border: 0;
  padding: 0.5em 1em;
  cursor: pointer;
}
button.secondary {
  background-color: #bc812d;
}
button:hover {
  opacity: 0.9;
}
button:active {
  opacity: 0.8;
}
/** LINKS **/
a {
  color: #3b71a2;
}
a:hover {
  color: #2e567b;
}
a:active {
  color: #244360;
}
header a {
  text-decoration: none;
  display: block;
}
header a:hover {
  opacity: 0.8;
}
header a:active {
  opacity: 0.7;
}
a:hover > img {
  opacity: 0.9;
}
a:active > img {
  opacity: 0.8;
}
/** LAYOUT **/
#wrapper {
  min-height: 100%;
  position: relative;
}
#main-content {
  height: 100%;
  padding-bottom: 100px;
}
/** HELPERS **/
.inline-block {
  display: inline-block;
}
.inline {
  display: inline;
}
.marg-tb {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.marg-tb-2 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.text-center {
  text-align: center;
}
.pull-right {
  float: right;
}
.no-under {
  text-decoration: none;
}
.italic {
  font-style: italic;
}
.dark {
  color: #666;
}
.uppercase {
  text-transform: uppercase;
}
.fit {
  width: 100%;
}
small,
.small {
  font-size: 0.8em;
}
.reverse {
  display: inline-block;
  -moz-transform: scaleX(-1);
/* Gecko */
  -o-transform: scaleX(-1);
/* Operah */
  -webkit-transform: scaleX(-1);
/* webkit */
  transform: scaleX(-1);
/* standard */
  filter: FlipH;
/* IE 6/7/8 */
}
/** HACKS **/
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #bbb;
}
/** FINAL MEDIA QUERIES **/
@media handheld, only screen and (max-width: 767px) {
  header {
    margin-bottom: 0;
  }
  header h1 {
    font-size: 1.8em;
  }
  header p {
    font-size: 0.8em;
  }
}
